@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* 自定义 Typography 样式的示例变量 */
  /* --prose-body: var(--color-gray-600); */
  /* --prose-headings: var(--color-gray-900); */
  /* --prose-links: var(--color-blue-600); */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 自定义深色模式滚动条 */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #0a0a0a;
  }

  ::-webkit-scrollbar-track {
    background-color: #0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #444;
  }
}
